includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		- '#Instantiated class Imagick not found\.#'
		- '#Call to method setImageFormat\(\) on an unknown class imagick\.#'